<div class="alert alert-dark alert-dismissible fade show" role="alert">
    <p>デモ用アカウント (ご自由にご使用ください)</p>
    <hr>
    <p class="mb-0">Username: Demo / Password: 123456<br>※ログインは<a href="/login" class="alert-link">こちら</a></p>
    <br>
    <p class="mb-0">※会員加入を希望される方は<a href="/register" class="alert-link">こちら</a></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>