<div class="alert alert-dark alert-dismissible fade show" role="alert">
    <p>家計簿機能について（フォルダ作成者以外にはアドミン権限がないため、フォルダ削除またはメンバー削除はできません。）</p>
    <hr>
    <p class="mb-0">・入金·出金内訳の追加をご希望の場合は、「New Record」ボタンまたは日付をクリックしていただくと、内訳入力ページに移動します。<br>・他のユーザーを家計簿に招待したい場合は「Invite Member」ボタンをクリックし、メールを入力して「Invite」ボタンをクリックしてください。<br>・追加された内訳の確認は、該当日付をクリックすると閲覧できます。
    </p>
    <hr>
    <p class="mb-0">・Monthly Summaryでは、該当月の入金、出金の合計及び残金を確認することができます。<br>Total Summaryでは、家計簿の総入金、出金の合計および残金を確認できます。<br>・Spending Statusでは、該当月のそれぞれのユーザーの出金状態を比較し、誰がいくらもっと出して、誰がいくらもっともらったら、均等に支払うのかを計算しています。
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>