<div class="alert alert-dark alert-dismissible fade show" role="alert">
    <p>家計簿をフォルダごとに管理できます。</p>
    <hr>
    <p class="mb-0">新しい家計簿の作成をご希望の場合は、「Create New Folder」ボタンをクリックしてください。<br>既存の家計簿を閲覧したい場合は、該当フォルダの「See Details」ボタンをクリックしてください。
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>