<% layout('layouts/boilerplateFolder')%>
    <div class="input-form col-6 offset-3">
        <div class="card mb-3">
            <div class="card-header">
                Create New Folder
            </div>
            <div class="card-body">
                <div class="card-text">
                    <form action="/folders" method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="name">Folder Name</label>
                            <input class="form-control" type="text" id="name" name="name" required>
                        </div>
                        <div class="mb-3 float-end">
                            <button class="btn btn-success" style="width: 100px">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="mb-3">
            <a href="/folders">Go to Folders</a>
        </footer>
    </div>