<h3>Calendar (Index) page!</h3>
<a href="/" class="btn">Home</a>
<a href="/records/calendar" class="btn">Calendar</a>
<a href="/records/analytics" class="btn">Analytics</a>
<a href="/records/new/spending" class="btn">Add New</a>