<% layout('layouts/boilerplate') %>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Our Balance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        </div>
    </nav>
    <main class="container mt-5 mb-5">
        <%- include('./partials/flash') %>
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">
                            <%= err.message %>
                        </h4>
                        <% if (process.env.NODE_ENV !== "production") { %>
                            <p>
                                <%= err.stack %>
                            </p>
                            <% } %>
                    </div>
                </div>
            </div>
    </main>