.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 35px;
}

.days {
    display: flex;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date {
    width: calc(100% / 7);
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    height: 80px;
}

.day:nth-child(7n + 1) {
    color: #d13e3e;
}

.day:nth-child(7n) {
    color: #396ee2;
}

.other .money,
.other button {
    opacity: 0.3;
}

.spending {
    color: #d13e3e;
}

.income {
    color: #396ee2;
}

.money {
    text-align: center;
    font-size: 15px;
}

@media (max-width: 1250px) {
    .calendar {
        width: 600px;
        align-self: center;
    }
    .summary {
        width: 600px;
        align-self: center;
    }
}

@media (max-width: 600px) {
    .money {
        font-size: 9px;
    }
}

@media (max-width: 300px) {
    .year-month {
        font-size: 20px;
    }
    .modal-description h5 {
        font-size: 15px;
    }
    .modal-price h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 14px;
    }
}