<% layout('layouts/boilerplateFolder')%>
    <div class="input-form col-6 offset-3">
        <div class="card mb-3">
            <div class="card-header">
                Create New Folder
            </div>
            <div class="card-body">
                <div class="card-text">
                    <form action="/folders" method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="name">Folder Name</label>
                            <input class="form-control" type="text" id="name" name="name" required>
                        </div>
                        <div class="mb-3 text-center">
                            <button class="btn btn-success" style="width: 100px">Add User</button>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="user1">User1</label>
                            <input class="form-control" type="email" id="user1" name="users[]">
                            <label class="form-label" for="user2">User2</label>
                            <input class="form-control" type="email" id="user2" name="users[]">
                            <label class="form-label" for="user3">User3</label>
                            <input class="form-control" type="email" id="user3" name="users[]">
                        </div>
                        <div class="mb-3 float-end">
                            <button class="btn btn-success" style="width: 100px">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="mb-3">
            <a href="/folders">Go to Folders</a>
        </footer>
    </div>

    <!-- <label class="form-label" for="name">Add User</label>

    <label class="form-label" for="name">Add User</label>

    <input class="form-control" type="text" id="name" name="folder[name]" required> -->